// Fuentes
$fuente_principal: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$desktop: 768px;


// Colores-Primarios
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Colores-Neutrales
$white: #ffffff;
$gray: hsl(233, 8%, 79%);
$dark-gray: hsl(236, 13%, 42%);
$black: #000000;

$separacion: 5rem;

// Fuentes
$regular : 400;
$bold: 700;
$black: 800;